@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');


	

h1 {
	
	color: #688BC6;
	font-family: 'Open Sans', sans serif;
	font-size: 250%;
	
}

h2 {
	
	color: #688BC6;
	font-family: 'Open Sans', sans serif;
	font-size: 150%;
	
}

h3 {
	
	color: #688BC6;
	font-family: 'Open Sans', sans serif;
	font-size: 75%;
	
}

body {
	padding: 20px;
	margin: 20px;
	text-align: left;
	color: rgb(0,0,0);
	font-family: 'Open Sans', sans serif;
	

}


a:link {
	color: #688BC6;

}

a:visited {
	color: #516D9B;

}

#all-items {
	display: flex;
	flex-direction: row;
}



.shop-item {
	;: 25px;
	
}

@media (max-width: 800px) {
  #all-items {
	  flex-direction: column;
  }
}

#all-cons {
	display: grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 250px 250px;

}

.con-info {
	grid-gap: 25px;

}

@media (max-width: 600px) {
  #all-cons {
	  display: flex;
	  flex-direction: column;
  }
}